@tailwind base;
@tailwind components;
@tailwind utilities;

/* import font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Oleo+Script:wght@400;700&display=swap");

:root {
  /* import font and color of the webpage here using: */
  --font-base: ;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}
